APP_NAME=jumprock_elementor_hello
DB_NAME=${APP_NAME}
DB_USER=root 
DB_PASSWORD=password

DOMAIN=${APP_NAME}.test
DB_HOST=mysql 

#SAGE PER DEV 
DEVURL=https://${DOMAIN}
MIX_DEVURL=https://${DOMAIN}

DB_TABLE_PREFIX=wp_
WP_HOME=${DEVURL}
WP_ENV=development
WP_SITEURL=${WP_HOME}/wp
WP_DEBUG_LOG=/root/to/debug.log

#CONFIGURAZIONE MULTISITE
WP_ALLOW_MULTISITE=false
DOMAIN_CURRENT_SITE=${DOMAIN}

#CONFIGURAZIONE SMTP
#WP_MAIL_SMTP_HOST=smtp.mailtrap.io
#WP_MAIL_SMTP_PORT=465
#WP_MAIL_SMTP_USERNAME=142ca3b5098db6
#WP_MAIL_SMTP_PASSWORD=6e2501c5bdd444
#WP_MAIL_FROM_NAME='Sonningdale'
#WP_MAIL_FROM=web@jumpgroup.it
#WP_MAIL_SMTP_SECURE=tls
#WP_MAIL_SMTP_AUTH=true

#GOOGLE LOGIN
WP_GOOGLE_LOGIN_CLIENT_ID=293367748712-51o7g23u2g0267v6ov3ip84in19o7f02.apps.googleusercontent.com
WP_GOOGLE_LOGIN_SECRET=hZqhbSjQIG9tLbeVVIHUnKHy
WP_GOOGLE_LOGIN_USER_REGISTRATION=true

S3_MAIN_BUCKET='jumpcomm'
S3_MAIN_REGION='ams3'
S3_SITE_BUCKET=${APP_NAME}
S3_UPLOADS_BUCKET='${S3_MAIN_BUCKET}/sites/${S3_SITE_BUCKET}'
S3_UPLOADS_BUCKET_URL='https://cdn.jumpgroup.it/sites/${S3_SITE_BUCKET}'
S3_UPLOADS_BUCKET_URL_BASE='cdn.jumpgroup.it'
S3_UPLOADS_ENDPOINT='https://${S3_MAIN_REGION}.digitaloceanspaces.com'
S3_UPLOADS_KEY='UCTPCNLRDVTC2ER3P2JR'
S3_UPLOADS_SECRET='1UHqneaVUwvrZ39gQnFw+8I3wYTVU8Xn7s1Y+UoKxw0'

# S3 - Aws S3
S3_MAIN_BUCKET='jumpcomm'
S3_MAIN_REGION='eu-central-1'
S3_SITE_BUCKET=${APP_NAME}
CLOUDFRONT_ID='EAZUJ20OH3LJO'
S3_UPLOADS_BUCKET_URL='https://media.jumpgroup.it/'
#S3_UPLOADS_ENDPOINT='https://${S3_MAIN_REGION}.digitaloceanspaces.com'
S3_UPLOADS_KEY='AKIA2U7T5DJ54DZSECUV'
S3_UPLOADS_SECRET='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'

PASSWORDS=password,Ju3pCo333,password123,qwerty,Querty,Password123,123456,12345678