APP_NAME=jumprock_elementor_hello
DB_NAME=${APP_NAME}
DB_USER=root 
DB_PASSWORD=password

DOMAIN=${APP_NAME}.test
DB_HOST=mysql 

#SAGE PER DEV 
DEVURL=https://${DOMAIN}
MIX_DEVURL=https://${DOMAIN}

DB_TABLE_PREFIX=wp_
WP_HOME=${DEVURL}
WP_ENV=development
WP_SITEURL=${WP_HOME}/wp
WP_DEBUG_LOG=/root/to/debug.log

#CONFIGURAZIONE MULTISITE
WP_ALLOW_MULTISITE=false
DOMAIN_CURRENT_SITE=${DOMAIN}

# S3 - Aws S3
S3_MAIN_BUCKET='jumpcomm'
S3_MAIN_REGION='eu-central-1'
S3_SITE_BUCKET=${APP_NAME}
S3_UPLOADS_BUCKET_URL='https://media.jumpgroup.it/'
S3_UPLOADS_KEY={{{ site.s3_uploads_key }}}
S3_UPLOADS_SECRET={{{ site.s3_uploads_secret }}}
CLOUDFRONT_ID={{{ site.cloudfront_id }}}

PASSWORDS=password,Ju3pCo333,password123,qwerty,Querty,Password123,123456,12345678