APP_NAME=jumprock_sage
DB_NAME=${APP_NAME}
DB_USER=root 
DB_PASSWORD=password
DB_HOST=mysql
DB_TABLE_PREFIX=wp_

DOMAIN=${APP_NAME}.test
WP_ENV=development
WP_HOME=https://jumprock_sage.test
DEVURL=https://jumprock_sage.test
WP_SITEURL=${WP_HOME}/wp
WP_DEBUG_LOG=/web/app/debug.log

#CONFIGURAZIONE MULTISITE
WP_ALLOW_MULTISITE=false
DOMAIN_CURRENT_SITE=${DOMAIN}

#AWS S3 UPLOADS
S3_MAIN_BUCKET='jumpcomm'
S3_MAIN_REGION='eu-central-1'
S3_SITE_BUCKET=${APP_NAME}
CLOUDFRONT_ID={{{ site.cloudfront_id }}}
S3_UPLOADS_BUCKET_URL='https://media.jumpgroup.it/'
#S3_UPLOADS_ENDPOINT='https://${S3_MAIN_REGION}.digitaloceanspaces.com'
S3_UPLOADS_KEY={{{ site.s3_uploads_key }}}
S3_UPLOADS_SECRET={{{ site.s3_uploads_secret }}}

PASSWORDS=password,Ju3pCo333,password123,qwerty,Querty,Password123,123456,12345678